# In this Notebook I get the number of restaurant per zipcode in NYC 
# which I later use to merge with my original dataset

In [ ]:
import pandas as pd

In [ ]:
r_df = pd.read_csv('/content/drive/MyDrive/airbnb/restaurant_data_set_2.csv')

In [ ]:
r_df.columns

Index(['CAMIS', 'DBA', 'BORO', 'STREET', 'ZIPCODE', 'INSPECTION DATE',
       'VIOLATION CODE', 'VIOLATION DESCRIPTION', 'GRADE'],
      dtype='object')

Getting the number of different zipcode value counts to easily get how many zipcodes there are but I have to first convert to int then string to get more accurate answer

In [ ]:
r_df['ZIPCODE'].value_counts()

10003.0    10332
10019.0     9472
10013.0     8677
10036.0     8462
10002.0     8220
           ...
10107.0        6
10285.0        5
10155.0        3
10151.0        2
11550.0        1
Name: ZIPCODE, Length: 227, dtype: int64

In [ ]:
r_df = r_df[r_df['BORO'] !=  '0']

In [ ]:
r_df['ZIPCODE'].isnull().sum().sum()

6609

In [ ]:
r_df = r_df[r_df['ZIPCODE'].notna()]

In [ ]:
r_df['ZIPCODE'].isnull().sum().sum()

0

In [ ]:
r_df = r_df['ZIPCODE'].value_counts().reset_index() # just want to get the number of zipcodes and their count

In [ ]:
r_df.rename(columns={"index":"zipcode","ZIPCODE":"count"},inplace=True)# rename

In [ ]:
r_df['zipcode']

0      10003.0
1      10019.0
2      10013.0
3      10036.0
4      10002.0
        ...
217    10168.0
218    10177.0
219    10107.0
220    10155.0
221    10151.0
Name: zipcode, Length: 222, dtype: float64

In [ ]:
r_df['zipcode'] = r_df['zipcode'].astype(int) # convert float to int

In [ ]:
r_df['zipcode']

0      10003
1      10019
2      10013
3      10036
4      10002
       ...
217    10168
218    10177
219    10107
220    10155
221    10151
Name: zipcode, Length: 222, dtype: int64

In [ ]:
 r_df['zipcode'] = r_df['zipcode'].astype(str)# convert int to string

In [ ]:
r_df['zipcode']

0      10003
1      10019
2      10013
3      10036
4      10002
       ...
217    10168
218    10177
219    10107
220    10155
221    10151
Name: zipcode, Length: 222, dtype: object

Saving the dataset

In [ ]:
# Import Drive API and authenticate.
from google.colab import drive

# Mount your Drive to the Colab VM.
#drive.mount('/content/drive')

# Write the DataFrame to CSV file.
with open('/content/drive/MyDrive/airbnb/restData.csv', 'w') as f:
  r_df.to_csv(f)

In [ ]:
t = pd.read_csv('/content/drive/MyDrive/airbnb/restData.csv')